<div class="text-center" ng-controller="MainController">
    <div class="backdrop">
        <div class="title">
            <h1>Project Battleship</h1>
        </div>
        <div class="sky">
            <div class="flex-container">
                <div class="fleet-container">
                    <div class="flex-item">
                        <img src="../img/Destroyer.gif" class="flip">
                    </div>
                    <div class="flex-item">
                        <img src="../img/Aircraft%20Carrier.gif" class="flip">
                    </div>

                    <div class="flex-item-right">
                        <img src="../img/Battleship.gif" class="flip">
                    </div>
                </div>
                <div class="fleet-container">
                    <div class="flex-item-left">
                        <img src="../img/Aircraft%20Carrier.gif">
                    </div>
                    <div class="flex-item">
                        <img src="../img/Destroyer.gif">
                    </div>

                    <div class="flex-item">
                        <img src="../img/Battleship.gif">
                    </div>
                </div>
            </div>
            <div id="beginGame" class="water">
                <form style="margin-top: 5%">
                    <a ng-click="onClick()" class="button button3" style="vertical-align:middle">Begin
                        Game</a>
                </form>
            </div>
            <div id="signup" class="water">
                <form action="/geeks" method="post">
                    <label>
                        <span class="req"></span>
                    </label>

                    <input id="userName" type="text" required placeholder="Username*" ng-model="userName">
                    <br>
                    <div style="padding-top: 25px">
                        <table id="skin_1" style="margin: auto; padding-bottom: 25px" cellpadding="10" cellspacing="10">
                            <tr>
                                <td style="padding-right: 10px">
                                    <input class="radio-checked" type="radio" id="radio01" name="radio" checked="checked" />
                                    <label ng-click="toggleSelection()" for="radio01"><span ng-class="{'radio-checked': isBoardOneSelected}"></span>Board 1</label>
                                </td>
                                <td rowspan="2">
                                    <a ng-click="onBattle()" class="button button3" style="vertical-align:middle">Battle</a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-right: 10px">
                                    <input type="radio" id="radio02" name="radio" />
                                    <label ng-click="toggleSelection()" for="radio02"><span ng-class="{'radio-checked': isBoardTwoSelected}"></span>Board 2</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>

            </div>
            <div id="waitingText" class="water">
                <p style="font-family: myFirstFont; font-size: x-large;  ">
                    Waiting for other player to join.....
                </p>
            </div>
            <button ng-click="removeUsers()" >Remove Users</button>
            <input id="board" type="text" placeholder="Board">
            <input id="cell" type="text" placeholder="Cell">
            <button ng-click="sendHit()">Send Hit</button>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <p id="msgTxt"></p>
            </div>
            <script src="../js/window.js"></script>
        </div>
    </div>
</div>
