<div class="jumbotron text-center" xmlns="http://www.w3.org/1999/html">

	<div class="backdrop">
		<div class="title">
			<h1>Project Battleship</h1>
		</div>
		<img class="bs" src="../img/ship.gif">
		<div class="boatpic">
			<div class="form">

				<div class="tab-content">
					<div id="signup">


						<form action="/geeks" method="post">
								<label>
									<span class="req"></span>
								</label>

								<input type="text" required placeholder="Username*" ng-model="userName">
							<br>
							<div style="padding-top: 25px">
								<table id="skin_1" style="background-color: dodgerblue;margin: auto; padding-bottom: 25px" cellpadding="10" cellspacing="10">
								<tr>
									<td style="padding-right: 10px">
										<input class="radio-checked" type="radio" id="radio01" name="radio" checked="checked"/>
										<label ng-click="toggleSelection()" for="radio01"><span ng-class="{'radio-checked': isBoardOneSelected}"></span>Board 1</label>
										</td>
									<td rowspan="2">
										<a href="/geeks"Geeks ng-click="createUser(userName)" class="button button3" style="vertical-align:middle">Battle</a>
									</td>
								</tr>
									<tr>
										<td style="padding-right: 10px">
											<input type="radio" id="radio02" name="radio" />
											<label ng-click="toggleSelection()" for="radio02"><span ng-class="{'radio-checked': isBoardTwoSelected}"></span>Board 2</label>
										</td>
									</tr>
							</table>
								</div>
						</form>

					</div>



				</div><!-- tab-content -->

			</div> <!-- /form -->

			<p>{{ tagline }}</p>
		</div>
	</div>


</div>
