<div class="grid-bg">
        <div class="left-side col-large-8">
            <div class="flex-grid-thirds top">
                <div class="col" id="a1"></div>
                <div class="col" id="a2"></div>
                <div class="col" id="a3"></div>
                <div class="col" id="a4"></div>
                <div class="col" id="a5"></div>
                <div class="col" id="a6"></div>
                <div class="col" id="a7"></div>
                <div class="col" id="a8"></div>
            </div>
            <div class="flex-grid-thirds">
                <div class="col" id="b1"></div>
                <div class="col" id="b2"></div>
                <div class="col" id="b3"></div>
                <div class="col" id="b4"></div>
                <div class="col" id="b5"></div>
                <div class="col" id="b6"></div>
                <div class="col" id="b7"></div>
                <div class="col" id="b8"></div>
            </div>
            <div class="flex-grid-thirds">
                <div class="col" id="c1"></div>
                <div class="col" id="c2"></div>
                <div class="col" id="c3"></div>
                <div class="col" id="c4"></div>
                <div class="col" id="c5"></div>
                <div class="col" id="c6"></div>
                <div class="col" id="c7"></div>
                <div class="col" id="c8"></div>
            </div>
            <div class="flex-grid-thirds">
                <div class="col" id="d1"></div>
                <div class="col" id="d2"></div>
                <div class="col" id="d3"></div>
                <div class="col" id="d4"></div>
                <div class="col" id="d5"></div>
                <div class="col" id="d6"></div>
                <div class="col" id="d7"></div>
                <div class="col" id="d8"></div>
            </div>
            <div class="flex-grid-thirds">
                <div class="col" id="e1"></div>
                <div class="col" id="e2"></div>
                <div class="col" id="e3"></div>
                <div class="col" id="e4"></div>
                <div class="col" id="e5"></div>
                <div class="col" id="e6"></div>
                <div class="col" id="e7"></div>
                <div class="col" id="e8"></div>
            </div>
            <div class="flex-grid-thirds">
                <div class="col" id="f1"></div>
                <div class="col" id="f2"></div>
                <div class="col" id="f3"></div>
                <div class="col" id="f4"></div>
                <div class="col" id="f5"></div>
                <div class="col" id="f6"></div>
                <div class="col" id="f7"></div>
                <div class="col" id="f8"></div>
            </div>
            <div class="flex-grid-thirds">
                <div class="col" id="g1"></div>
                <div class="col" id="g2"></div>
                <div class="col" id="g3"></div>
                <div class="col" id="g4"></div>
                <div class="col" id="g5"></div>
                <div class="col" id="g6"></div>
                <div class="col" id="g7"></div>
                <div class="col" id="g8"></div>
            </div>
            <div class="flex-grid-thirds bottom">
                <div class="col" id="h1"></div>
                <div class="col" id="h2"></div>
                <div class="col" id="h3"></div>
                <div class="col" id="h4"></div>
                <div class="col" id="h5"></div>
                <div class="col" id="h6"></div>
                <div class="col" id="h7"></div>
                <div class="col" id="h8"></div>
            </div>
        </div>
        <div>
        </div>
    </div>
