body {
    padding: 0 0 0 0;
    width: 100%;
    height: 100%;
}
.button {
    font-family: myFirstFont;
    background-color: #4CAF50; /* Green */
    border: none;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
.button {
    background-color: #4086AA;
    color: black;
    border: 2px solid #f44336;
}
.firebutton
{
    font-family: myFirstFont;
    background-color: #f44336; /* Green */
    border: none;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 35px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}
.button {
    background-color: #4086AA;
    color: black;
    border: 2px solid #f44336;
}

/*.firebutton:hover*/
/*{*/
    /*background-color: black;*/
    /*color: red;*/
/*}*/

.button3:hover {
    background-color: #f44336;
    color: white;
}


a.radio-fx span, a.radio-fx {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}
#skin_1 .radio, #skin_1 .radio-checked, #skin_1 a.radio-fx {
    width: 32px;
    height: 32px;
}
#skin_1 .radio {
    background-color: #4086AA;
}
#skin_1 .radio-checked {
    background: url("../img/New Piskel.png") no-repeat;
}
@font-face {
    font-family: myFirstFont;
    src: url(ARCADECLASSIC.TTF);
}

@font-face {
    font-family: msgFont;
    src: url(prstart.ttf);
}
h1
{
    font-size: 63px;
    font-family: myFirstFont;
}
.backdrop
{
    background-color: aliceblue;
}
.title
{
    padding-bottom: 3%;
}
.water
{
    padding-top: 5%;
    padding-bottom: 20%;
    background-color: #4086AA;
}
.sky
{
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: aliceblue;
}
.bs {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
audio {
    display:none;
}
input[type=text] {
    padding: 12px 20px;
    border: 3px solid red;
    border-radius: 4px;
}
div {
    margin:0 0 0 0;
}
input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: black;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}
input[type="radio"] + label span {
    background-color: #4086AA;
}
input[type="radio"]:checked + label span{
    background-color: red;
}
.flex-container {
    /*-webkit-box-pack: center;*/
    /*-moz-box-pack: center;*/
    /*box-pack: center;*/
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 110px;
    /*background-color: lightgrey;*/
    /*margin-top: 10px;*/
    margin-left: auto;
    margin-right: auto;
}
.fleet-container
{
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    height: 110px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.flex-item {
    /*background-color: cornflowerblue;*/
    width: 100px;
    height: 100px;
    margin-top: 80px;
    text-align: center;
}
.flex-item-right {
    /*background-color: cornflowerblue;*/
    width: 100px;
    height: 100px;
    margin-top: 80px;
    text-align: center;
    padding-right: 20px;
}
.flex-item-left {
    /*background-color: cornflowerblue;*/
    width: 100px;
    height: 100px;
    margin-top: 80px;
    text-align: center;
    padding-left: 20px;
}
img {
    max-width:100%;
    max-height: 100%;
}
div img{ display: inline-block;}
.flip
{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: "FlipH";
}
.grid-bg
{
    justify-content: space-between;
    display: block;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
    margin-left: auto;
    margin-right: auto;
}
.flex-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-grid .col {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-grid-thirds {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
}
.flex-grid-thirds.top {
    padding-top: 5%;
}
.flex-grid-thirds.bottom {
    padding-bottom: 5%;
}
.flex-grid-thirds .col {
    width: 80px;
    height: 77px;
    margin-bottom: 5px;
}
@media (max-width: 400px) {
    .flex-grid,
    .flex-grid-thirds {
        display: block;
    }
    .flex-grid .col,
    .flex-grid-thirds .col {
        margin: 0 0 30px 0;
    }
}
* {
    box-sizing: border-box;
}
.flex-grid {
    margin: 0 0 30px 0;
}
.col {
    background: black;
    border: black;
}
.left-side
{
    justify-content: space-between;
    display: block;
    background-color: green;
    width: 70%;
    height: 100%;
    padding-left: 5%;
}
.page {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.item {}

.grid {
    flex: 3;
}

.ship-display {
    /*background-color: white;*/
    text-align: center;
    flex: 1;
    flex-grow: 2;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    /*margin: 4px;*/
    border: 4px solid black;
    border-radius: 16px;
    background: lightgray; /* Standard syntax */
}

.row {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    background-color: black;
}

.square {
    /*background-color: white;*/
    width: 80px;
    height: 80px;
    margin: 4px;
    text-align: center;
    font-family: myFirstFont;
    font-size: 35px;
    border-radius: 8px;
    background: dodgerblue; /* Standard syntax */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.missSquare {
    /*background-color: white;*/
    width: 80px;
    height: 80px;
    margin: 4px;
    text-align: center;
    font-family: myFirstFont;
    font-size: 35px;
    border-radius: 8px;
    background: white; /* Standard syntax */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    pointer-events: none;
}
.hitSquare {
    /*background-color: white;*/
    width: 80px;
    height: 80px;
    margin: 4px;
    text-align: center;
    font-family: myFirstFont;
    font-size: 35px;
    border-radius: 8px;
    background: #f44336; /* Standard syntax */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    pointer-events: none;
}



.square:hover {
    background: linear-gradient(to right, lightblue , lightcyan); /* Standard syntax */
}

.shipContainer {
    display: flex;
    flex-direction: column!important;
    flex-grow:0;
}

.ship{
    align-self: center;
    flex: 0 0 auto;
}

.modal-content {
    font-family: msgFont;
    font-size: 30px;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
    text-align: center;
}

.close {
    color: Black;
    float: right;
    font-size: 50px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
}
