body { padding-top:30px; }
.button {
    font-family: myFirstFont;
    background-color: #4CAF50; /* Green */
    border: none;
    color: dodgerblue;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 28px;
    /*margin: 4px 2px;*/
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
}

a.radio-fx span, a.radio-fx {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: 0;
}
#skin_1 .radio, #skin_1 .radio-checked, #skin_1 a.radio-fx {
    width: 32px;
    height: 32px;
}
#skin_1 .radio {
    background-color: dodgerblue;
}
#skin_1 .radio-checked {
    background: url("../img/New Piskel.png") no-repeat;
}

.button {
    background-color: dodgerblue;
    color: black;
    border: 2px solid #f44336;
}

.button3:hover {
    background-color: #f44336;
    color: white;
}

@font-face {
    font-family: myFirstFont;
    src: url(ARCADECLASSIC.TTF);
}

h1
{
    font-family: myFirstFont;
}

.backdrop
{
    background-color: aliceblue;
}

.title
{
    padding-bottom: 3%;
}
.boatpic
{
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: dodgerblue;
}

.bs {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}
audio {
    display:none;
}

input[type=text] {
    padding: 12px 20px;
    border: 3px solid red;
    border-radius: 4px;
}

div {
    margin:0 0 0.75em 0;
}

input[type="radio"] {
    display:none;
}
input[type="radio"] + label {
    color: black;
    font-family:Arial, sans-serif;
    font-size:14px;
}
input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-1px 4px 0 0;
    vertical-align:middle;
    cursor:pointer;
    -moz-border-radius:  50%;
    border-radius:  50%;
}

input[type="radio"] + label span {
    background-color: dodgerblue;
}

input[type="radio"]:checked + label span{
    background-color: red;
}

/*input[type="radio"] + label span,*/
/*input[type="radio"]:checked + label span {*/
    /*-webkit-transition:background-color 0.4s linear;*/
    /*-o-transition:background-color 0.4s linear;*/
    /*-moz-transition:background-color 0.4s linear;*/
    /*transition:background-color 0.4s linear;*/
/*}*/


